.category-list{
    margin-top: 50px;
}

/* .list-items-title{
    font-weight: 500;
    display: inline;
    border-bottom: 3px solid #595959;

} */
.category-list-items{
    padding-left: 1em;
    font-size: 24px;
    line-height: 1.54;
    font-weight: 500;
}
.category-list-item{
    padding-left: 5px;
}
.category-list-items li{
    list-style-type: '◉ ';
    color: black;
}
.category-list-items li a{
    color: black;
    text-decoration: none;
}
.category-list-items li a:hover{
    color: #80601f;
}

@media screen and (min-width: 760px){
    .list-items{
        max-width: 60vw;
    }
}
