html{
    color: #000;
}

body{
    margin: auto;
    padding: 0em 1em 2em 1em;
    font-family: 'Inter',sans-serif;
    line-height: 1.54;
}
/* @media screen and (min-width: 760px) { */
/*   body { */
/*     margin: auto; */
/*     max-width: 68vw; */
/*   } */
/* } */

@media screen and (min-width: 1440px) {
  body {
    margin: auto;
    max-width: 62vw;
  }
}
.content main{
  hypens: none;
}
.content p{
  margin: 1em 0;
}
.content h1{
  font-weight: normal;
  margin-bottom: 0px;
  font-size: 2em;
  margin-top: 0;
}
.content h2{
  margin-bottom: 0.5em;
  margin-top: 1.3em;
  border-bottom: 3px solid #c9b9b0;
  font-weight: normal;
  font-size: 1.6em;
}
.content h3{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.7em;
  padding-bottom: 0;
}
.content h4{
  font-size: 1.1em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 500;
}
.content a{
  text-decoration: none;
  color: #80601f;
}
.content a:hover{
  border-bottom: 1px solid #80601f;
}
.content blockquote{
  border-left: 0.3rem solid #c9b9b0;
  margin: 1.6rem 0;
  padding: 0 1.4rem 0 1rem;
  line-height: 1.6;
}
.content blockquote p{
  margin: 0;
}
.content mark{
  padding: 0 2px 0 2px;
  background: #f1d5d0;
}
.content ul{
    padding-left: 2em;
}
@media screen and (max-width: 760px) {
  .katex {
    font-size: 1.05em !important;
  }
 }
 p:has(span.katex){
    overflow-x: auto;
    overflow-y: hidden;
  }
