.notes-menu {
  padding: 0px 4px 0px 0px;
  z-index: 9999;
  text-align: left;
}

.notes-menu li {
  display: inline-block;
}

.notes-menu a {
    color: #000;
    margin-right: 1.1em;
    text-decoration: none;
    border-radius: 5px;
}
.notes-menu a:hover {
  color: #80601f;
}
