<head>
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/image.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/code.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/table.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/home.css" />
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/toc.css" />
    {{partial "katex.html" .}}
</head>